:root {
  --gradient: linear-gradient(
    to right,
    #ffd700,
    #ffd300,
    #ffcf00,
    #ffc900,
    #ffc300,
    #ffbd00,
    #ffb700,
    #ffb100,
    #ffab00,
    #ffa500,
    #ff9f00,
    #ff9900
  );
}

body {
  background-image: var(--gradient);
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
